﻿@model EmployeeApp.WebApp.Models.Employees.EmployeeProfileInput

@{
    ViewBag.Title = "Employees";
}

<h2>Add employee</h2>

<form method="post" asp-controller="Employees" asp-action="Add">
    <table class="table">
        <tbody>
        <tr>
            <th>
                <label asp-for="LastName"></label>
            </th>
            <td>
                <input asp-for="LastName"/>
            </td>
        </tr>
        <tr>
            <th>
                <label asp-for="FirstName"></label>
            </th>
            <td>
                <input asp-for="FirstName"/>
            </td>
        </tr>
        </tbody>
    </table>
    
    <button class="btn btn-primary">Add</button>
</form>