﻿@model EmployeeApp.Domain.Models.Employees.EmployeeCollection

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<a class="btn btn-default" asp-controller="Employees" asp-action="Add">Add employee</a>

<table class="table">
    <thead>
    <tr>
        <th>従業員番号</th>
        <th>氏名</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var employee in Model.AsEnumerable())
    {
        <tr>
            <td>@employee.EmployeeNumber</td>
            <td>@employee.Profile.Name</td>
        </tr>
    }
    </tbody>
</table>